@import-normalize;

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Lato-Regular.eot) format('embedded-opentype') /* IE6-IE8 */,
        url(../assets/fonts/Lato-Regular.woff2) format('woff2') /* Super Modern Browsers */;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/Lato-Bold.eot) format('embedded-opentype') /* IE6-IE8 */,
        url(../assets/fonts/Lato-Bold.woff2) format('woff2') /* Super Modern Browsers */;
}

html,
body,
#root {
    background-color: #f7f7f7;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    width: 100vw;
}

a,
div,
textarea,
input {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
span {
    color: #333;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button:disabled,
input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

img {
    object-fit: cover;
    width: 100%;
}

input,
textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
}

label {
    display: block;
    margin-bottom: 2px;
}

p {
    margin: 0;
    padding: 0;
}

textarea {
    min-height: 200px;
    resize: none;
    width: 100%;
}

ul {
    margin: 0;
    width: 100%;
}

input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" version="1.1" viewBox="0 0 1000 1000" x="0px" y="0px"%3E%3Cpath d="M976.3,97l-67.7-66.9c-18.3-18.3-48.6-18.3-67.7,0L503.2,367.8l-344-344c-18.3-18.3-48.6-18.3-67.7,0L23.7,91.4c-18.3,18.3-18.3,48.6,0,67.7L367,502.4L30.1,840.9c-18.3,18.3-18.3,48.6,0,67.7l67.7,67.7c18.3,18.3,48.6,18.3,67.7,0l337.7-337.7l337.7,337.7c18.3,18.3,48.6,18.3,67.7,0l67.7-67.7c18.3-18.3,18.3-48.6,0-67.7L637.8,503.2l337.7-337.7C994.6,146.4,994.6,116.1,976.3,97z" /%3E%3C/svg%3E');
}

/* Override React Slick Style */
.slick-arrow:before {
    color: #fea733 !important;
}

.slick-track {
    display: flex !important;
    margin-left: 0 !important;
}

.slick-slide {
    height: inherit !important;
    display: flex;
}

/* Override Uploadcare Style */

.uploadcare--widget__button,
.uploadcare--widget__button:hover,
.uploadcare--widget__button:focus, 
.uploadcare--button_primary,
.uploadcare--button_primary:hover,
.uploadcare--button_primary:focus,
.uploadcare--preview__back,
.uploadcare--preview__back:hover,
.uploadcare--preview__back:focus {
    background-color: #38337c !important;
    border: none;
    cursor: pointer;
    min-width: 100px;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    font-weight: 400;
}

.uploadcare--button_primary,
.uploadcare--button_primary:hover,
.uploadcare--button_primary:focus,
.uploadcare--preview__back,
.uploadcare--preview__back:hover,
.uploadcare--preview__back:focus {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem
}

.uploadcare--preview__back {
    background-color: #fea733 !important;
}

.uploadcare--preview__back:hover,
.uploadcare--preview__back:focus {
    background-color: #fbc173 !important;
}

.uploadcare--widget__button:hover,
.uploadcare--widget__button:focus, 
.uploadcare--button_primary:hover,
.uploadcare--button_primary:focus {
    background-color: #6560af !important;
}

.uploadcare--panel__footer {
    background-color: transparent;
}

.uploadcare--file__remove {
    cursor: pointer;
}

.uploadcare--file__remove:hover,
.uploadcare--file__remove:focus {
    color: #6560af !important;
}
